body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg3.jpeg");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
    background-color: #81da458a;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}